.header{
	font-size: 2em;
	line-height: 1.5;
	margin: 60px auto;
}
.header span{
	display: block;
}
.section{
	padding: 30px;
	/*background: #ccc;*/
}
.container, .col-lg-6{
	/*border: 2px solid red;*/
}
.form-header, .section-header{
	font-size: 1.5em;
	font-weight: 900;
	margin-bottom: 20px;
}
.form{
	border: 5px solid red;
	padding: 30px 20px;
}
.form input{
	margin-bottom: 12px;
}
.form-btn{
	margin: 10px auto;
	background-color: red;
}
/*.section-header{
	font-size: 2em;
	font-weight: 900;
}*/
.feature img{
	width: 200px;
}
.feature{
	margin-top: 60px;
}

.feature p{
	margin-top: 10px;
}

.feature button{
	margin-top: 20px;
}